
<% @page_title = "orderAuth | order" %>
<div class="orderbox">
  <%= form_for @order,url:"/order/createOrder" do |f| %>

      <p>
        <label class="tittle" for="lblsitename">نام سایت</label>
        <%= f.text_field :sitename%>
      </p>

      <p>

        <label class="tittle" for="lbldomain">دامنه</label>
        <%= select("order", "domainId", Domain.all.collect {|p| [ p.dname, p.id ] }, {}) %>   </br>
      </p>

      <p>
        <label class="tittle" style="margin-right:-100px"  for="lblcms">مدیریت محتوا</label>
        <%= select("order", "productId", Product.all.collect {|p| [ p.pname, p.id ] }, {}) %>
      </p>

      <button class="orderbox-btn" type="submit">سفارش</button>

  <% end %>

  <% if @order.errors.any? %>
      <ul class="order_Errors">
        <% for message_error in @order.errors.full_messages %>
            <li class="error">* <%= message_error %></li>
        <% end %>
      </ul>
  <% end %>

</div>



